/****************TAG SELECTORS**************/
body {
  margin: 0px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514e;
  line-height: 1.5;
}
h1 {
  line-height: 1.5;
  font-size: 552.5%;
  color:#66BFBF;
  margin:50px auto 0px auto;
  font-family: 'Merriweather', serif;
}
h2 {
  margin:0px auto 50px auto;
  font-size: 1.5rem;
  color:#66BFBF;
  font-family: 'Merriweather', serif;
  padding-bottom: 10px;
}
h3 {
font-family: 'Merriweather', serif;
  color:#11999E;
}
hr{
  border-bottom: 0px;
  border-top:6px dotted #7a4d1d;
  width:4%;
  margin:100px auto;
}
a{
  text-decoration: none;
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color:#eaf6f6;
}
div {}

/**************CLASS SELECTORS***************/
.copyright{
  color:#EAF6F6;
  margin:40px auto;
}
.contact-message{
  width: 40%;
  margin:40px auto 60px;
}
.intro-message{
  margin:auto;
  width: 40%;
}
.skill-row{
  width:50%;
  margin:50px auto;
  text-align: left;

}
.topContainer {
  position: relative;
  background-color:#EAF6F6 ;
  padding:100px 0px 0px;
}

.middleContainer {
  margin:100px 0px;

}

.bottomContainer {
  padding: 50px 0 20px;
  background-color:#66BFBF ;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  /*background-color: #655c56;*/
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mountain-first {
  position: relative;
  top:4px;
}
.Me{
  width:250px;
  border-radius: 100%;

}
.code-img{
  width: 25%;
  float:left;
  padding:15px 15px 0px 15px;
}
.music-img{
  width: 25%;
  float:right;
  padding:15px 15px 0px 15px;
}
.Once {
  font-family: 'Sacramento', cursive;
  font-size: 5.255rem;
}
.btn {
  background:#11cdd4;
  background-image: -webkit-linear-gradient(top,#11cdd4,#11999e);
  background-image: -moz-linear-gradient(top,#11cdd4,#11999e);
  background-image: -ms-linear-gradient(top,#11cdd4,#11999e);
  background-image: -o-linear-gradient(top,#11cdd4,#11999e);
  background-image: linear-gradient(to bottm,#11cdd4,#11999e);
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:8px;
  font-family: 'Montserrat', sans-serif;
  color:#ffffff;
  font-size: 20px;
  padding:10px 20px;
  text-decoration: none;

}

.btn:hover {
  background:#30e3cb;
  background-image: -webkit-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -moz-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -ms-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -o-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: linear-gradient(to bottm,#30e3cb,#2bc4ad);
  text-decoration: none;

}


/****************ID SELECTORS*****************/
